---
import Layout from "../layout/Layout.astro";

import Abanner from "../components/Abanner.astro";
import Aourvision from "../components/Aourvision.astro";
import Agrowing from "../components/Agrowing.astro";
import Aourhistory from "../components/Aourhistory.astro";
import Aourteam from "../components/Aourteam.astro";
import Abooknow from "../components/Abooknow.astro";

---

<Layout>
  <!-- alt det her er det der bliver til <slot /> i Layout.astro -->
  <Abanner />
  <Aourvision />
  <Agrowing />
  <Aourhistory />
  <div class="teamcontainer">
  <section class="team">
    <div>
      <h1>Our team</h1>
      <h2 class="toph2">We champion the bold to achieve the extraordinary</h2>
      <p class="topp">
        Ippsum is the result of synergy between our teams and our customers. Our
        company culture is focused on excellent productivity, customer
        satisfaction, respect for team.
      </p>
    </div>
  </section>
</div>

  <div class="teamcontainer">
  <div class="gridteam">
    <Aourteam
      img="/images/teammember1.jpg"
      title="Sarah Jasmine "
      alt="Portrait of Sarah Jasmine"
      text="Leverage agile frameworks to provide a robust synopsis for high level overviews."
    />
    <Aourteam
      img="/images/teammember2.jpg"
      title="John Carter"
      alt="Portrait of John Carter"
      text="Leverage agile frameworks to provide a robust synopsis for high level overviews."
    />
    <Aourteam
      img="/images/teammember3.jpg"
      title="Daisy Stella"
      alt="Portrait of Daisy Stella"
      text="Leverage agile frameworks to provide a robust synopsis for high level overviews."
    />
  </div>
</div>
<Abooknow/>
</Layout>

<style>
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.475rem;
    font-weight: 400;
    letter-spacing: 0.145rem;
    background-color: var(--yellow-color);
    border-radius: 20px;
    width: 8rem;
    font-family: "Cabin";
  }

  .toph2 {
    color: #181818;
    font-family: "Cabin";
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2625rem;
    max-width: 20ch;

  }

  .topp {
    color: #595566;
    font-family: "Lato";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.475rem;
    max-width: 69ch;
  }

  .team {
    /*padding: 25%;*/
    padding: 25px;
    background-color: var(--grey-color);
    margin-inline: auto;
    max-width: 1100px;
  }

  .gridteam {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0rem;
    margin-inline: auto;
    max-width: 1200px;
    /*margin: 50px;*/


    /*padding: 10rem;*/
    /*margin-top: -5rem; /* brug noget andet */
  }

  .teamcontainer{
    background-color: var(--grey-color);

  }
</style>
