<section>
  <div class="background">
    <div class="greycolor">
    <h1>SERVICES</h1>
    <h2>Creative Services For Boost Your Business Growth</h2>
  </div>
</div>
</section>

<style>
  .background {
    background-image: url("/images/abouttop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
    overflow: hidden;
  }


  h1{
    font-family: 'Cabin'; 
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.475rem ;
    font-weight: 400;
    letter-spacing: 0.145rem;
    background-color: var(--yellow-color);
    border-radius: 20px;  
    width: 8rem;

 
  }

  h2{
    font-family: 'cabin';
    font-size: 3.125rem;
font-style: normal;
font-weight: 700;
line-height: 3.625rem; 
  }

  .greycolor{
    margin-top: 10rem;
    border-radius: 1.8125rem;
background: rgba(255, 255, 255, 0.85);
backdrop-filter: blur(5.5px);
/*display: inline-flex;*/
/*padding: 3rem 3.75rem 3.625rem 3.75rem;*/
/*flex-direction: column;*/
/*align-items: flex-start;*/
/*gap: 0.625rem;*/
margin: 5rem;  
padding: 25px;
width: 42rem;

  }
</style>
