
<section>
    <div class="background">
        <h1>SERVICES</h1>
        <h2>Creative Services For Boost Your Business Growth</h2>
    </div>
</section>

<style>

    .background{
        background-image: url("images/abouttop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        flex-shrink: 0;
        overflow: hidden;
    }
</style>