<div class="container">
    <div>
    <h1>Growing with our clients</h1>
    <h2>Our core values & principles</h2>
    <p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps.</p>
    </div>

    <div class="grid">
        <section class="col1">
            <img src="" alt="">
            <p>creative ideas</p>
            <p>test test test</p>
            <a href="">Read more</a>
        </section>

        <section class="col2">
            <img src="" alt="">
            <p>creative ideas</p>
            <p>test test test</p>
            <a href="">Read more</a>
        </section>   
        <section class="col3">
            <img src="" alt="">
            <p>creative ideas</p>
            <p>test test test</p>
            <a href="">Read more</a>
        </section>  
        <section class="col4">
            <img src="" alt="">
            <p>creative ideas</p>
            <p>test test test</p>
            <a href="">Read more</a>
        </section>
    </div>

</div>

<style>
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container{
        background-color: var(--grey-color);
    }

    h1{
        background-color: var(--yellow-color);
    }
</style>