<div class="flex_container">
  <section class="col1">
    <h1>Our vision</h1>
    <p>Turn your ideas into reality.</p>
    <p>
      Capitalize on low hanging fruit to identify a ballpark value added
      activity beta test. Override the digital divide with additional from
      DevOps.
    </p>
    <p>
      Bring to the table win-win survival strategies to ensure proactive
      domination. At the end of the day.
    </p>
    <p>
      Capitalize on low hanging fruit to identify a ballpark value added
      activity to beta test override the digital.
    </p>
  </section>
  <section class="col2">
    <img src="" alt="" />
  </section>
</div>

<dl>
  <div>
    <dd>1128+</dd>
    <dt>Successful Work</dt>
  </div>
  <div>
    <dd>908+</dd>
    <dt>Team member</dt>
  </div>
  <div>
    <dd>258+</dd>
    <dt>Happy Customers</dt>
  </div>
  <div>
    <dd>564+</dd>
    <dt>Creative Idea</dt>
  </div>
</dl>

<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap; 
  }

  dl {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
    width: 100%;
  }


</style>
