<div class="container">
    <div class="content">
        <h1>Our history</h1>
        <h2>Better Website Means A User Experience</h2>
        <p>Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements.</p>
        <img src="/images/ourhistory.jpg" alt="">
    </div>


</div>

<style>

    .container{
        background-color: var(--white-color);
        padding: 25px;
    }

    .content{
        text-align: center;
        justify-content: center;
        align-items: center;
        }

    h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.475rem ;
    font-weight: 400;
    letter-spacing: 0.145rem; 
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 20px;  
    width: 9rem;
  }

  img{
    border-radius: 1.75rem;
/*opacity: 0.4;*/ 

  }


</style>