---
---

<article>
    <h2></h2>
    <p class="lead"></p>
    <p></p>

</article>

<style>
    article{
        background: blue;
    }

    .lead{
        font-size: var(--text-large);
    }
    /** eller */
    p:first-child{
        font-size: var(--text-large);
    }

  
</style>