<header>
    <a href="/">About</a>
    <a href="/servicesingle">Service Single</a>
    <a href="/team">Team</a>
    <a href="/casestudysingle">Case study single</a>
</header>

<style>
a{
    text-decoration: none;
    margin: 0 30px;
    color: black;
    font-family: 'Cabin';

}

header{
    text-align: center;
    justify-content: space-between;
    margin: 2rem;
}


</style>