<div class="container">
    <div class="content">
        <h1>Our History</h1>
        <h2>Strategy for Every Stage in the Client's Journey</h2>
        <img src="/images/svideo.svg" alt="">

    </div>

</div>

<style>
   .container{
    background-color: var(--black-color);
   } 

   .content{
    margin-inline: auto;
    max-width: 900px;
    padding: 2rem;
    margin-top: 3rem;

   }



   h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.475rem ;
    font-weight: 400;
    letter-spacing: 0.145rem; 
    background-color: var(--green-color);
    border-radius: 20px;  
    width: 10rem;
    margin: 0 auto;

  }
   h2{
    color: var(--white-color);
    text-align: center;


   }


</style>