<div class="container">
    <div class="grid">
        <section class="col1">
            <img src="/images/swork.jpg" alt="">
        </section>
        <section class="col2">
            <div>
                <h1>WE'LL WORK WITH YOU</h1>
            </div>
            <h2>What To Expect</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <ul>
            <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
            <li>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</li>
        </ul>
    </section>
    </div>
</div>

<style>

    .container{
        margin-inline: auto;
        max-width: 900px;
        margin-top: 4rem;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    img{
        width: 400px;
        height: auto;
    }

    h1{
    font-family: 'Lato'; 
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.475rem ;
    font-weight: 400;
    letter-spacing: 0.145rem;
    background-color: var(--yellow-color);
    border-radius: 20px;  
    width: 15rem;
  }



li{
    margin-top: 1rem;
}


</style>