---
// import Nav from "../components/Nav.astro";
import "../styles/global.css";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- insæt google font her -->
    <!-- Cabin -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

<!-- lato -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">


    <title>Figma design</title>
  </head>

  <header>
    <a href="/">About</a>
    <a href="/servicesingle">Service Single</a>
    <a href="/team">Team</a>
    <a href="/casestudysingle">Case study single</a>
</header>

  <body>
    <!-- <Nav /> -->
    <main>
      <slot />
      <!-- slot er alt indhold fra pages -->
    </main>
  </body>
</html>

<style>


  a{
    text-decoration: none;
    margin: 0 30px;
    color: var(--black-color);
    font-family: 'Lato';

}

header{
    text-align: center;
    justify-content: space-between;
    margin: 2rem;
}
</style>